@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section>
        
        
    </section>
    
    <div class="img-library">
        <img class="library" src="Images/libre.png" alt="Alternate Text"/>

    </div>
}
