@model ClassLibrary1.Brand

@{
    ViewBag.Title = "Delete Brand";
}

<h2>Delete Brand</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Brand</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Name")
            </th>            
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>           
        </tr>
    </table>     

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
