@model ClassLibrary1.Brand

@{
    ViewBag.Title = "Details Brand";
}

<h2>Details Brand</h2>

<fieldset>
    <legend>Brand</legend>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.LabelForModel("Name")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
        </tr>
    </table>     

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
